<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fant.insapp.app"
    android:configChanges="keyboardHidden|orientation|screenSize">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_money"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.fant.insapp.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/android:Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-f7s1t7zzvannleh" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fant.insapp.app.ReadTxtActivity"
            android:label="@string/title_activity_read_DB"
            android:theme="@style/android:Theme.Holo" >
        </activity>
        <activity
            android:name="com.fant.insapp.app.MySettings"
            android:label="@string/title_activity_MySettings"
            android:theme="@style/android:Theme.Holo" >
        </activity>
        <activity
            android:name="com.fant.insapp.app.ModifyDataActivity"
            android:label="@string/title_activity_ModifyData"
            android:theme="@style/android:Theme.Holo" >
        </activity>
        <activity
            android:name="com.fant.insapp.app.ReportActivity"
            android:label="@string/title_activity_report"
            android:theme="@style/android:Theme.Holo" >
        </activity>
        <activity
            android:name="org.achartengine.GraphicalActivity"
            android:theme="@style/android:Theme.Holo" />
    </application>

</manifest>
